#new-benefit-btn {
    background-color: #e2a03f; 
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#new-benefit-btn:hover {
    background-color: #9f6718;
}

#benefit-display {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    color: #333;
    border-left: 5px solid #cc8e35; 
    font-size: 16px;
}
