<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hydration Tracker</title>
    <link rel="stylesheet" href="../static/css/ht.css">
</head>
<body>
    <header>
        <h1>Hydration Tracker 💧</h1>
        <p>Stay Healthy, Stay Hydrated!</p>
    </header>

    <main>
    
        <div class="bottle-container">
            <div class="bottle">
                <div class="water" id="waterLevel"></div>
                <div class="progress-text" id="progressText">0.0L / 3.0L</div>
            </div>
        </div>

        
        <div class="button-container">
            <button onclick="addWater(0.25)">+250ml</button>
            <button onclick="addCustomWater()">Custom</button>
        </div>

        
        <section class="check-marks">
            <h2>Daily Check Marks</h2>
            <div id="checkMarksContainer" class="check-marks-container"></div>
        </section>
    </main>

 
    <script src="../static/js/ht.js"></script>
</body>
</html>
