<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Us and Average Rating</title>
    <link rel="stylesheet" href="../static/css/style6.css">
</head>
<body>
    <ul>
        <li> <a class="nav-link" href="home-2.html" target="_blank">Home</a></li>
        <li><a href="#" id="openRateUs" class="nav-link">Rate Us</a></li>
    </ul>

    <div id="averageRatingContainer">
        <h2>Average Rating: <span id="averageRating">0.0</span></h2>
    </div>

    <div id="ratingPopup" class="popup">
        <div class="popup-content">
            <h2>Rate Us</h2>
            <div id="stars" class="stars">
                
                <span data-value="1" class="star">&#9733;</span>
                <span data-value="2" class="star">&#9733;</span>
                <span data-value="3" class="star">&#9733;</span>
                <span data-value="4" class="star">&#9733;</span>
                <span data-value="5" class="star">&#9733;</span>
            </div>
            <button id="submitRating">Submit</button>
        </div>
    </div>

    <script src="../static/js/rateus.js"></script>
</body>
</html>
